:root {
    --color-primary: #EDECEC;
    --color-secondary: #14120B;
    --color-border: #3F3D38;
    --color-card: #1B1913;
    --color-text: #999896;
    --color-red: #F54E00;
    --color-border-grey: #25231D;
    --color-card-second: #201E18;
    --color-setting: #26241E;
    --color-footer-select: #3A3833;
}

.logo img {
    height: 23px;
}

.nav {
    justify-content: space-between;
    padding: 15px 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-secondary);
}

.nav-links ul {
    display: flex;
    gap: 35px;
    font-size: 14px;
}

.nav-btns {
    display: flex;
    gap: 5px;
}

.btn {
    color: var(--color-primary);
    border: 1px solid var(--color-border);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-secondary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-primary);
}

.btn-lg {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 250px;
}

.btn-lg img {
    height: 20px;
    padding-top: 1px;
    padding-left: 2px;
}

.header {
    margin-top: 160px;
    padding: 0 45px;
}

.header-text-h1 {
    font-size: 26px;
    font-weight: 400;
    width: 45%;
    margin-bottom: 20px;
}

.header>img {
    border-radius: 5px;
    margin: 70px 0;
}

.main {}

.companies {
    flex-direction: column;
    align-items: center;
}

.companies p {
    font-size: 14px;
}

.companies-list {
    width: 100%;
    padding: 20px 45px 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.company {
    background-color: var(--color-card);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #201E19;
}

.company img {
    height: 40px;
}

.card {
    margin: 0 45px 100px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--color-card);
}

.card h2 {
    font-weight: 400;
    font-size: 22px;
}

.card img {
    border-radius: 5px;
    width: 67%;
}

.card p {
    color: var(--color-text);
    font-size: 22px;
    margin-bottom: 15px;
}

.card a {
    color: var(--color-red);
    font-size: 16px;
}

.testimonials {
    padding: 0 45px;
    margin-bottom: 180px;

}

.testimonials h2 {
    font-weight: 400;
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 36px;
}

.testimonial-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial-card {
    background-color: var(--color-card);
    font-size: 16px;
    padding: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-card img {
    width: 34px;
    height: 34px;
    border-radius: 3px;
    aspect-ratio: 1/1;
}

.testimonial-dp {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    font-size: 12px;
}

.text-grey {
    color: var(--color-text);
}

.frontier {
    padding: 0 45px;
    margin: 0 0 120px;
}

.frontier h2 {
    margin-bottom: 20px;
    font-weight: 400;
}

.frontier-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 16px;
}

.frontier-card {
    background-color: var(--color-card);
    padding: 18px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frontier-card h3 {
    font-size: 16px;
    font-weight: 400;
}

.frontier-card a {
    margin: 16px 0;
    color: var(--color-red);
}

i {
    font-size: 12px;
}

.upp-arrow {
    transform: rotate(-45deg) translateY(-2px);
}

.frontier-card p {
    color: var(--color-text);
}

.changelog {
    padding: 0 45px;
}

.changelog h2 {
    font-weight: 400;
    font-size: 26px;
}

.changelog-cards {
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog a {
    color: var(--color-red);
}

.changelog-card {
    background-color: var(--color-card);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-border-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.changelog-date {
    display: flex;
    gap: 10px;
    color: var(--color-text);
}

.changelog-card span {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 0px 10px;
}

.card-single {
    display: flex;
    margin: 120px 45px 180px;
    align-items: center;
    gap: 30px;
    background-color: var(--color-card);
    padding: 20px;
    border-radius: 5px;
}

.card-single p {
    font-size: 22px;
    margin-bottom: 20px;
}

.card-single img {
    width: 65%;
}

.card-single a {
    color: var(--color-red);
}

.highlight {
    background-color: var(--color-card);
    display: flex;
    padding: 100px 45px;
}

.highlight-cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
    margin-left: 200px;
}

.highlight-card {
    background-color: var(--color-card-second);
    padding: 20px;
    border-radius: 5px;
}

.highlight-card h3 {
    font-size: 16px;
    font-weight: 400;
}

.highlight-card p {
    color: var(--color-text);
}

.highlight-cards a {
    margin-top: 20px;
    padding: 0 0 0 4px;
    color: var(--color-red);
}

.cursor {
    text-align: center;
    margin: 120px auto;
    font-size: 72px;
}

.cursor button {
    margin: 10px auto 0;
}

.footer {
    padding: 60px 45px;
    background-color: var(--color-card);
    flex-direction: column;
    font-size: 14px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links p:first-child {
    color: var(--color-text);
}

.footer-links {
    display: flex;
    gap: 180px;
    font-size: 14px;
    margin-bottom: 60px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

.copy {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.settings {
    display: flex;
    gap: 10px;
}

.theme{
    padding: 2px 2px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--color-setting);
}

.theme i{
    font-size: 14px;
}

.select{
    background-color: var(--color-footer-select);
    border-radius: 20px;
    padding: 1px 7px;
}

.language {
    background-color: var(--color-setting);
    padding: 2px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}